.box {width: 1440px;
    height: 3300px;}


/*----------HEDER-----------*/

.header {
    max-width: 1440px;
        width: 100%;
        height: 72px;
        border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
        background: var(--WHITE, #FFF);
}
  .header-navigation {max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;}

.header-logo {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;}

.header-logo-iris {color: var(--IRIS, #4D5AE5);}

.header-menu-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;}

.header-menu-item {}

.header-menu-link {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;}

    .header-contact {
        color: var(--SLATE, #434455);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
     }

 /*---------HEDER END---------*/
 /*------------HERO-----------*/
   .hero { 
      width: 1440px;
      height: 600px;
      flex-shrink: 0;background:
       var(--NAVY-BLUE, #2E2F42);
    }
 .hero-title {width: 496px;color: var(--WHITE, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
 }
 .hero-button {display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;border-radius: 4px;
        background: var(--IRIS, #4D5AE5);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }
 .hero-button-title {
    color: var(--WHITE, #FFF);
    font-family: Roboto;
    font-size: 16px;
     font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;}
/*---------HERO END-----------*/

/*-------FEATURES -----------*/

.features-menu-list {
    width: 1128px;
    height: 104px;
    flex-shrink: 0;}

.features-item {
    display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;}

.features-subtitle {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.features-item-text {
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;}

/*-------FEATURES END-----------*/

/*----------GELLERY-----------*/

.gallery-box {width: 1440px;
    height: 732px;
    flex-shrink: 0;
    background: var(--CLOUD, #F4F4FD);}

.gallery {color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;}

.gallery-list {}

.gallery-item {display: inline-flex;
    padding-bottom: 32px;text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;border-radius: 0px 0px 4px 4px;
        background: var(--WHITE, #FFF);
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);}

.gallery-item-text {}

.gallery-img {width: 264px;
    height: 260px;}

/*---------GELLERY END-------*/

/*---------NAVIGATION--------*/

.navigation {width: 1128px;
    height: 1000px;
    flex-shrink: 0;
}

.navigation-title {color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;}

.navigation-list {width: 1128px;
    height: 420px;
    flex-shrink: 0;}
   

.navigation-item { 
    display: flex;
    width: 360px;
    height: 420px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;background: var(--WHITE, #FFF);
    }

.navigation-logo {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;}

.navigation-item-text {
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;}

.navigation-img {
    width: 360px;
    height: 300px;
    flex-shrink: 0;
    background:
     url("../images/img-pro-1,2,3,4,5,6-min.jpg") / cover no-repeat;}

/*-------NAVIGATION END------*/

/*----------FOOTER-----------*/

.footer {
    width: 1440px;
    height: 312px;
    flex-shrink:0;
    background:
  var(--NAVY-BLUE, #2E2F42);}

  .footer-contener {
    width: 264px;
    height: 112px;
    flex-shrink: 0;
  }

.footer-logo-iris {color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;}

.footer-text {width: 264px;color: var(--CLOUD, #F4F4FD);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;}
